<div class="aw-mod publish-help">
  <div class="mod-head">
    <h3>发起指南</h3>
  </div>
  <div class="mod-body">
    <p><b>• 选择节点:</b> 请用准确的语言描述您发布的问题思想</p>
    <p><b>• 填写标题:</b> 详细补充您的问题内容, 并提供一些相关的素材以供参与者更多的了解您所要问题的主题思想</p>
    <p><b>• 正文内容:</b> 选择一个或者多个合适的话题, 让您发布的问题得到更多有相同兴趣的人参与. 所有人可以在您发布问题之后添加和编辑该问题所属的话题</p>
  </div>
</div>