


<div class="container aw-publish">
  <div class="row">
    <div class="aw-content-wrap clearfix">
      <div class="col-sm-12 col-md-9 aw-main-content">
        <%= render 'form' %>
      </div>
      <div class="col-sm-12 col-md-3 aw-side-bar hidden-xs">
        <%= render 'topic_right' %>        
      </div>
    </div>
  </div>
</div>
