<div class="aw-container-wrap">
  <div class="container">
    <div class="row">
      <div class="aw-content-wrap clearfix">
        <div class="col-sm-12 col-md-9 aw-main-content">
        	<div class="aw-mod aw-question-detail aw-item">
			<div class="content">
			  <div class="box">
			    <%= render 'form' %>
			  </div>
			</div>
			</div>
		</div>
      </div>
    </div>
  </div>
</div>

