<dl>
	<dt class="pull-left aw-border-radius-5">
		<a href="http://wenda.bootcss.com/people/jaychou"><img src="http://wenda.bootcss.com/uploads/avatar/000/00/00/05_avatar_mid.jpg" alt=""></a>
	</dt>
	<dd class="pull-left">
		<a class="aw-user-name" data-id="5" href="http://wenda.bootcss.com/people/jaychou">jaychou						</a>
		<p class="signature"></p>
		<p><b>1</b> 个问题, <b>0</b> 次赞同</p>
	</dd>
</dl>