<div class="col-sm-3 col-md-3 aw-side-bar hidden-sm hidden-xs">
    <!-- 今日话题 -->
    <div class="aw-mod topic-daily hidden-xs">
        <div class="mod-head" style="margin-left:20px;">
            <a class="btn btn-success" href="javascript:;" onclick="disp_create_dialog();">创建球队</a>
            <a class="btn btn-success" href="javascript:;" onclick="disp_join_dialog();">加入球队</a>
        </div>
    </div>
    <!-- end 今日话题 -->
    <div class="aw-mod">
        <div class="mod-body">
            创建球队注意事项
            <br/>
            阿萨德发阿萨德发阿萨德发阿萨德发阿萨德发阿萨德发
            阿萨德发阿萨德发阿萨德发阿萨德发
            阿萨德发阿萨德发阿萨德发
        </div>
    </div>
    <div class="aw-mod">
        <div class="mod-body">
            加入球队注意事项
            <br/>
            阿萨德发阿萨德发阿萨德发阿萨德发阿萨德发
            阿萨德发阿萨德发阿萨德发
            阿萨德发阿萨德发阿萨德发
            阿萨德发阿萨德发
        </div>
    </div>
</div>
