<div class="aw-content-wrap clearfix">
    <div class="col-sm-12 col-md-12 aw-main-content">
        <!-- 用户数据内容 -->
        <div class="aw-mod aw-user-detail-box">
            <div class="mod-head">
                <%= user_avatar_tag(current_user, :large) %>
                <span class="pull-right operate">
                    <a class="btn btn-mini btn-success" href="/account/edit">编辑</a>
                </span>
                <h1><%= current_user.login %></h1>
                <p class="text-color-999"></p>
                <p class="aw-user-flag">
                    <span>
                       <%= current_user.bio %>
                    </span>

                </p>
                <p class="aw-user-flag">
                    <span>
                        <%= current_user.bio %>   
                    </span>
                </p>
            </div>
            <div class="mod-body">
                <div class="meta">
                    <span>
                        <i class="icon icon-bubble"></i>
                        威望 : <em class="aw-text-color-green">110</em>
                     </span>
                    <span><i class="icon icon-vimeo"></i> 
                        赞同 : <em class="aw-text-color-orange">220</em>
                    </span>
                    <span><i class="icon icon-fire"></i> 
                        感谢 : <em class="aw-text-color-orange">120</em>
                    </span>
                </div>
            </div>
            <div class="mod-footer">
                <ul class="nav nav-tabs aw-nav-tabs hidden-xs">
                    <li class="active">
                        <a data-toggle="tab" id="page_actions" href="#actions">动态</a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="page_questions" href="#questions">发帖<span class="badge">0</span></a>
                    </li>
                    <li>
                        <a data-toggle="tab" id="page_answers" href="#answers">回贴<span class="badge">1</span></a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- end 用户数据内容 -->

        <div class="aw-user-center-tab">
            <div class="tab-content">
                <div id="questions" class="tab-pane">
                    <div class="aw-mod">
                        <div class="mod-head">
                            <h3>发问</h3>
                        </div>
                        <div class="mod-body">
                            <div id="contents_user_actions_questions" class="aw-profile-publish-list"><p align="center" style="padding: 15px 0">没有内容</p></div>
                        </div>
                        <div class="mod-footer">
                            <!-- 加载更多内容 -->
                            <a id="bp_user_actions_questions_more" class="aw-load-more-content disabled" data-page="0">
                                <span>没有更多了</span>
                            </a>
                            <!-- end 加载更多内容 -->
                        </div>
                    </div>
                </div>

                <div id="answers" class="tab-pane">
                    <div class="aw-mod">
                        <div class="mod-head">
                            <h3>最新动态</h3>
                        </div>
                        <div class="mod-body">
                            <div id="contents_user_actions">
                                <div class="aw-item">
                                    <p>
                                        <span class="pull-right text-color-999">2014-11-28</span>
                                        <em class="pull-left"><a data-id="377" class="aw-user-name" href="http://wenda.bootcss.com/people/377">chenchao</a> 赞同了该回复:</em>
                                        
                                        <a href="http://wenda.bootcss.com/question/104" class="aw-hide-txt">如何实现多张图片的固定比例缩放显示</a>

                                    </p>
                                </div>
                                <div class="aw-item">
                                    <p>
                                        <span class="pull-right text-color-999">2014-11-27</span>
                                        <em class="pull-left"><a data-id="377" class="aw-user-name" href="http://wenda.bootcss.com/people/377">chenchao</a> 回答了问题:</em>
                                        
                                        <a href="http://wenda.bootcss.com/question/104" class="aw-hide-txt">如何实现多张图片的固定比例缩放显示</a>

                                    </p>
                                </div>
                             </div>
                        </div>
                        <div class="mod-footer">
                            <!-- 加载更多内容 -->
                            <a id="bp_user_actions_more" class="aw-load-more-content" data-page="1">
                                <span>更多</span>
                            </a>
                            <!-- end 加载更多内容 -->
                        </div>
                    </div>
                </div>

                <div id="actions" class="tab-pane active">
                    <div class="aw-mod">
                        <div class="mod-head">
                            <h3>最新动态</h3>
                        </div>
                        <div class="mod-body">
                            <div id="contents_user_actions">
                                <div class="aw-item">
                                	<p>
                                		<span class="pull-right text-color-999">2014-11-28</span>
                                		<em class="pull-left"><a data-id="377" class="aw-user-name" href="http://wenda.bootcss.com/people/377">chenchao</a> 赞同了该回复:</em>
                                		
                                		<a href="http://wenda.bootcss.com/question/104" class="aw-hide-txt">如何实现多张图片的固定比例缩放显示</a>

                                	</p>
                                </div>
                                <div class="aw-item">
                                	<p>
                                		<span class="pull-right text-color-999">2014-11-27</span>
                                		<em class="pull-left"><a data-id="377" class="aw-user-name" href="http://wenda.bootcss.com/people/377">chenchao</a> 回答了问题:</em>
                                		
                                		<a href="http://wenda.bootcss.com/question/104" class="aw-hide-txt">如何实现多张图片的固定比例缩放显示</a>

                                	</p>
                                </div>
                             </div>
                        </div>
                        <div class="mod-footer">
                            <!-- 加载更多内容 -->
                            <a id="bp_user_actions_more" class="aw-load-more-content" data-page="1">
                                <span>更多</span>
                            </a>
                            <!-- end 加载更多内容 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 侧边栏 -->

    <!-- end 侧边栏 -->
</div>
      