<% if target.errors.any? %> 
	<li class="alert alert-danger hide error_message" style="display: list-item; position: relative; left: 0px; list-style-type:none;">
		<% target.errors.full_messages.each do |msg| %>
			<i class="icon icon-close"></i> <em><%= msg %></em><br>
		<% end %>
	</li> 
<% end %>