@font-face {
	font-family: 'icomoon';
	src:url('/fonts/icomoon.eot?-teqsnx');
	src:url('/fonts/icomoon.eot?#iefix-teqsnx') format('embedded-opentype'),
		url('/fonts/icomoon.woff?-teqsnx') format('woff'),
		url('/fonts/icomoon.ttf?-teqsnx') format('truetype'),
		url('/fonts/icomoon.svg?-teqsnx#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
	content: "\e600";
}
.icon-quill:before {
	content: "\e601";
}
.icon-camera:before {
	content: "\e602";
}
.icon-spades:before {
	content: "\e603";
}
.icon-clubs:before {
	content: "\e604";
}
.icon-bullhorn:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e606";
}
.icon-calendar:before {
	content: "\e609";
}
.icon-mobile:before {
	content: "\e60a";
}
.icon-bubble:before {
	content: "\e60b";
}
.icon-user:before {
	content: "\e60c";
}
.icon-users:before {
	content: "\e60d";
}
.icon-search:before {
	content: "\e60e";
}
.icon-cog:before {
	content: "\e60f";
}
.icon-pie:before {
	content: "\e607";
}
.icon-remove:before {
	content: "\e610";
}
.icon-target:before {
	content: "\e611";
}
.icon-switch:before {
	content: "\e612";
}
.icon-numbered-list:before {
	content: "\e613";
}
.icon-attachment:before {
	content: "\e614";
}
.icon-bookmarks:before {
	content: "\e615";
}
.icon-star:before {
	content: "\e616";
}
.icon-star2:before {
	content: "\e617";
}
.icon-star3:before {
	content: "\e618";
}
.icon-heart:before {
	content: "\e619";
}
.icon-heart-broken:before {
	content: "\e61a";
}
.icon-happy:before {
	content: "\e61b";
}
.icon-sad:before {
	content: "\e61c";
}
.icon-close:before {
	content: "\e61d";
}
.icon-checkmark:before {
	content: "\e61e";
}
.icon-minus:before {
	content: "\e61f";
}
.icon-plus:before {
	content: "\e620";
}
.icon-share:before {
	content: "\e621";
}
.icon-mail:before {
	content: "\e622";
}
.icon-vimeo:before {
	content: "\e623";
}
.icon-heart2:before {
	content: "\e608";
}
.icon-fire:before {
	content: "\e624";
}
