
.aw-user-detail-box .mod-head {
    border-bottom: 1px solid #E6E6E6;
    min-height: 140px;
    padding: 20px 20px 20px 135px;
    position: relative;
}
.aw-user-detail-box .mod-head img {
    border-radius: 5px;
    left: 20px;
    position: absolute;
    top: 20px;
}
.aw-user-detail-box .mod-head .aw-user-flag span {
    margin-right: 10px;
}
.aw-user-detail-box .mod-head .operate a {
    margin-left: 10px;
}
.aw-user-detail-box .mod-body .meta {
    font-size: 13px;
    height: 45px;
    line-height: 45px;
    padding: 0 20px;
}
.aw-user-detail-box .mod-body .meta span {
    margin-right: 10px;
}
.aw-user-detail-box .mod-body .meta span i {
    position: relative;
    top: 2px;
}
.aw-user-detail-box .mod-body .meta .aw-icon {
    margin-right: 5px;
}
.aw-user-detail-box .mod-body .meta .aw-text-color-green, .meta .aw-text-color-orange {
    font-size: 13px;
    font-weight: bold;
}
.aw-user-detail-box .mod-body .good-at-topics {
    border-top: 1px solid #E6E6E6;
    padding: 20px;
}
.aw-user-detail-box .mod-body .good-at-topics ul li {
    float: left;
    margin: 0 10px 15px 0;
    width: 205px;
}
.aw-user-detail-box .mod-body .good-at-topics ul li .topic-tag {
    margin-right: 10px;
}
.aw-user-detail-box .mod-body .good-at-topics ul li .topic-tag a {
    max-width: 65px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.aw-user-detail-box .mod-footer {
    border-top: 1px solid #E3E3E3;
}
.aw-user-detail-box .mod-footer .aw-nav-tabs {
    min-height: 52px;
    padding-top: 20px;
}
#integral table th {
    background-color: #F5F5F5;
    border-bottom: medium none;
}
.aw-user-center-tab .tab-pane > .aw-mod > .mod-head {
    padding: 0 20px;
}
.aw-user-center-tab .tab-pane > .aw-mod > .mod-head h3 {
    font-size: 20px;
    line-height: 20px;
    margin: 20px 0;
}
.aw-user-center-tab .tab-pane > .aw-mod > .mod-head h3 a {
    font-size: 12px;
}
.aw-user-center-tab .tab-pane > .aw-mod > .mod-body {
    padding: 0 20px;
}
.aw-user-center-tab .tab-pane > .aw-mod a.aw-hide-txt {
    display: block;
    max-width: 410px;
}
.aw-user-center-tab .aw-mod .aw-item {
    border-bottom: 1px solid #F5F5F5;
    padding-top: 14px;
}
.aw-user-center-tab .aw-mod .aw-item:first-child {
    border-top: medium none;
    padding-top: 0;
}
.aw-user-center-tab .aw-mod .aw-item .mod-head h4.aw-hide-txt {
    max-width: 645px;
}
.aw-user-center-tab .aw-mod .aw-item .mod-body {
    position: relative;
}
.aw-user-center-tab .aw-mod .aw-item .mod-body .aw-vote-bar {
    top: 0;
}
.aw-user-center-tab .aw-mod .aw-item .mod-body p.aw-hide-txt {
    max-width: 610px;
}
.aw-user-center-tab .count {
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 0 0;
    padding: 0 10px;
    width: 58px;
}
.aw-user-center-tab .count i {
    margin-right: 10px;
}
.aw-profile-publish-list .mod-body {
    padding: 0 !important;
}
.aw-profile-publish-list p, .aw-profile-answer-list p {
    line-height: 30px;
    margin-bottom: 14px;
}
.aw-user-center-follow-mod > .mod-footer {
    margin-top: 20px;
}
.aw-user-center-follow-mod ul li {
    border-bottom: 1px solid #F5F5F5;
    float: left;
    min-height: 100px;
    padding: 10px 0 10px 60px;
    position: relative;
    width: 50%;
}
.aw-user-center-follow-mod .aw-user-img, .aw-user-center-follow-mod .aw-topic-img {
    left: 0;
    position: absolute;
    top: 10px;
}
.aw-user-center-follow-mod li .mod-body {
    min-height: 24px;
    overflow: hidden;
}
.aw-user-center-follow-mod li p {
    margin: 0 0 5px;
}
.aw-user-center-follow-mod li .meta span {
    margin-right: 10px;
}
.aw-user-center-follow-mod .aw-load-more-content {
    margin: 20px 0 0;
}
.aw-user-center-follow-mod #contents_user_topics li {
    min-height: 75px;
}
.tab-pane #contents_user_actions li, #overview ul li {
    border-top: 1px solid #F5F5F5;
    padding-top: 10px;
}
.tab-pane #contents_user_actions li:first-child, #overview ul li:first-child {
    border-top: medium none;
    padding-top: 0;
}
.aw-user-center-tab .tab-pane p .aw-user-name, .aw-user-center-tab .tab-pane p .aw-topic-name {
    font-size: 14px;
}
.aw-user-center-details {
    padding: 0 60px;
}
.aw-user-center-details dl {
    border-top: 1px dotted #C1CAD4;
    height: auto;
    line-height: 22px;
    margin: 0;
    overflow: hidden;
    padding: 15px 0 15px 10px;
}
.aw-user-center-details dl:first-child {
    border-top: medium none;
}
.aw-user-center-details dl dt, .aw-user-center-details dl dd {
    float: left;
}
.aw-user-center-details dl dt {
    color: #333333;
    font-weight: normal;
    margin-right: 20px;
}
.aw-user-center-details dl dd {
    color: #666666;
}
.aw-user-center-details dl dd a {
    margin-right: 10px;
}
.aw-user-center-details .aw-user-center-details-good-topic > div {
    margin-bottom: 15px;
    min-height: 20px;
}
.aw-user-center-details .meta {
    margin: 0;
}
.aw-user-center-details .meta span {
    margin-right: 10px;
}
.aw-mod.people-following p {
    margin-top: 10px;
}
.aw-mod.people-following .aw-user-name img {
    height: 24px;
    width: 24px;
}
.aw-mod.people-following .aw-topic-bar {
    margin: 10px 0 0;
}
