<% content_for :sitemap do %>
  <a href="<%= background_sections_path %>">><%= t("cpanel.sections") %></a> &gt; <span class="current"><%= t("common.create") %></span>
<% end %>
<h1>帖子：创建一级类别</h1>

<%= render 'form' %>

