<!DOCTYPE html>
<html>
<head>
  <%= render :partial => "layouts/head" %>
</head>
<body>
<%= render :partial => "layouts/admin_menu" %>
<div class="aw-container-wrap">
  <div class="container">
    <div class="row">
	    <%= yield %>
    </div>
  </div>
</div>
<%= render :partial => "layouts/footer" %>
</body>
</html>
